.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cwork.cbp
cmake-build-debug/cwork.exe
cmake-build-debug/cwork.ilk
cmake-build-debug/cwork.pdb
cmake-build-debug/Makefile
cmake-build-debug/test.txt
cmake-build-debug/win.c
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/cwork.dir/build.make
cmake-build-debug/CMakeFiles/cwork.dir/C.includecache
cmake-build-debug/CMakeFiles/cwork.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/cwork.dir/depend.internal
cmake-build-debug/CMakeFiles/cwork.dir/depend.make
cmake-build-debug/CMakeFiles/cwork.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/cwork.dir/flags.make
cmake-build-debug/CMakeFiles/cwork.dir/includes_C.rsp
cmake-build-debug/CMakeFiles/cwork.dir/link.txt
cmake-build-debug/CMakeFiles/cwork.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/cwork.dir/main.c.obj
cmake-build-debug/CMakeFiles/cwork.dir/objects.a
cmake-build-debug/CMakeFiles/cwork.dir/objects1.rsp
cmake-build-debug/CMakeFiles/cwork.dir/progress.make
cmake-build-debug/Testing/Temporary/LastTest.log
.idea/.gitignore
.idea/cwork.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
CMakeLists.txt
hello.c----
main--.c
test.txt
win.c
